/* aparecer */
@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* desaparecer */
@keyframes desaparecer {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
