/* header index */
.headerIndex {
    background: linear-gradient(to bottom, rgb(239, 56, 242), rgb(67, 37, 238));
    border-bottom: 1px solid white;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.583);

    .headerIndexSub {

        /* logo */
        .headerIndexContenedorLogo {
            .headerIndexContenedorLogoLink {
                transition: 0.7s;

                &:hover {
                    transform: scale(1.1);
                }

                .headerIndexContenedorLogoLinkImg {
                    width: 100%;
                }

            }
        }

        /* menú con links */
        .headerIndexContenedorLogoUl {
            .headerIndexContenedorLogoUlLi {
                .headerIndexContenedorLogoUlLiLink {
                    color: white;
                    font-style: italic;
                    font-weight: 500;
                    text-shadow: 3px 3px 0px black;
                    transition: 0.5s;

                    &:hover{
                        text-shadow: 0px 0px 10px white;
                        transform: scale(1.1);
                    }
                }

                .globalCopy {
                    width: 100%;
                    color: aqua;
                    text-shadow: 0px 0px 10px rgb(255, 255, 255);
                    font-style: italic;
                    font-weight: 500;
                    margin-top: 6%;
                }
            }
        }
    }
}