* {
    margin: 0;
    padding: 0;
}

@font-face {}

html {
    scroll-behavior: smooth;
}

/* IMPORTS */
@import "mixin", "animations", "bodys", "headers", "mains";


.outfit-fontOne {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}